*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 94px;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 60px;
}
h1{
    width: 100%;
    height: 80px;
    background-image: url(../images/music-note\ 1.png);
    background-repeat: no-repeat;
    text-indent: -99999999px;
} 
h1 a{
    display: block;  
 }
header .firstlogo{
    margin-left: 144px;
    width: 70px;
    height: 70px;
    padding: 5px 15px;
}
 header a{
  padding-bottom: 40px;
}
header nav{
    margin-left: 300px;
}
header ul{
    margin-top: -56px;
    margin-left: 100px; 
}
header li{
 color: rgb(255, 255, 255);
 padding: 5px 10px;
 float: left;
 margin-left: 50px;
}
header li a{
    position: relative;
}
header li a:hover{
    color: #ffffff;

}
header li a::after{
content: "";
width: 0%;
height: 1px;
background-color: #ffffff;
position: absolute;
bottom: 0;
left: 0;
transition: 2s;
}
header li a:hover:after{
    width: 100%;

}
main h2{
    margin-top: 50px;
    padding-left: 134px;
}
.container{
    width: 300px;
    height: 270px; 
    background-color: rgba(255, 248, 239, 0);
      margin: 0 auto; 
     border: solid;
     background-image: url(../images/sound\ 1.png);
     background-repeat: repeat-x;
      background-position: center 60px;
     background-size: 25%;
     margin-left: 56px;
     position: relative;
    margin: 166px;
    float: left;
     margin-bottom: 40px; 
    margin-top: 30px;
}
div p{
    padding-top: 180px;
    margin-left: 10px;
}
.text{
    padding-top: 20px;
}
.like{
 position: absolute;
 top: 0;
 right: 0;
}
article a{
    display: block;
    margin-top: 40px;
    color: #000000;
}
   .satauri{
    font-size: 18px;
   }
   .text{
    font-size: 14px;
   }
   div a{
    font-size: 12px;
   }

h2{
    margin-left: 14px;
    padding-top: 50px;
}
main h2{
    margin-left: 30px;
}
.social{
    width: 50px;
    height: 100px;
    position: fixed;
    top: 250px;
    right: 0;
}
.facebook, .instagram{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.facebook{
    background-image: url(../images/fb\ 1.png);
    background-repeat: no-repeat;
}
.instagram{
    background-image: url(../images/instagram\ 1.png);
}
.facebook a, .instagram a{
    display: block;
     width: 50px;
    height: 50px;
}
footer .final{
    display: block;
    clear: both;
    width: 100%;
    height: 354px;
    background-color: black;
    padding: 40px;
}
footer .bolologo{
    background-image: url(../images/music-note\ 2.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
footer nav{
    color: rgb(255, 255, 255);
}
footer ul{
    display: block;
  text-align: center;
  font-size: 18px;
}
.textbolo{
    color: rgb(255, 255, 255);
    padding-top: 18px;
    padding-left: 836px;
    font-size: 18px;
}
.bolologo a{
display: block;
width: 150px;
 height: 150px;color: rgb(253, 253, 255);
 padding: 5px 15px;
}
li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
}
.meorekont{
    margin-left: 80px;
}
.playlist1 h3{
    font-size: 24px;
    margin-left:160px ;
    margin-top: 40px;
    margin-bottom: 40px;
}
div .playlist1{
    margin-left: 30px;
}
div .playlistpirveli{
    margin-top: 40px;
}
.playlist1{
     background-color: gray;
    box-shadow: 0px 0px 20px;
    border-radius: 10px; 
}

.playlist1 p{
    padding: 4px;
    margin: 4px;
    margin-left: 160px;
}
.playlistpirveli{
     margin-right: 80px;
     margin-left: -50px;
  
}

.playlist2 h3{
    font-size: 24px;
    margin-left:160px ;
    margin-top: 40px;
    margin-bottom: 40px;
}

.playlist2 p{
    padding: 4px;
    margin: 4px;
    margin-left: 160px;
}
.playlist1, .playlist2{
    float: left;
    margin-bottom: 40px;
    margin-left: 80px;
}
.cont3{
    width: 260px;
    height: 66px;
    background-image: url(../images/sound\ 1.png);
    background-repeat: repeat-x;
    margin: 0 auto;
    margin-left: 630px;
    clear: both;
}
.cont4{
  margin-left: -28px;
}
.movrchi{
    width: 260px;
    height: 66px;
    background-image: url(../images/sound\ 1.png);
    background-repeat: repeat-x;
    margin: auto;
  margin-left: 800px;
    clear: both;
}
.boloo{
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 80px;
}
header li a{
    padding: 5px 10px;
    position: relative;
}
header li a:hover{
    color: #ffffff;

}
header li a::after{
content: "";
width: 0%;
height: 1px;
background-color: #ffffff;
position: absolute;
bottom: 0;
left: 0;
transition: 2s;
}
header li a:hover:after{
    width: 100%;
}
.container a{
    text-decoration: underline;
}
.social .facebook:hover{
background-image: url(../images/feradifb.png);
}
.social .instagram:hover{
    background-image: url(../images/feradiinsta.png);
}
.like{
    background-image: url(../images/like\ 1.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.like:hover{
    background-image: url(../images/feradilike.png);
}